/* Custom Css*/

.halo-ask-an-expert {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 25px 25px;
}


.halo-ask-an-expert .col-right .ask-an-expert-link {
    text-transform: uppercase;
    font-weight: 700;
    background: #f6b924;
    border-color: #f6b924;
    color: #202020;
}

.halo-ask-an-expert .col-right {
    width: 200px;
}
.product-bottom-wrapper .halo-ask-an-expert .col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: calc(90% - 200px);
    padding-right: 15px;
}

.halo-ask-an-expert .col-left .text h3 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-style: italic;
}

 .halo-ask-an-expert .col-left .text {
    width: calc(100% - 50px);
    padding-left: 18px;
    display: inline-block;
}

.halo_featured_brands .brands-list .brand-item img {
   
    border-radius: 1%;
}
.halo-ask-an-expert .col-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: calc(100% - 200px);
    padding-right: 15px;
}


.halo_securityImage {
   margin-bottom: 25px;
    margin-top: 25px;
}


.button {
    border-radius: 3px;}
.button--primary {
    border-radius: 3px;}
.form-input {
    border-radius: 3px;}
    
.productView-options .form-field.form-field--increments .form-increment .form-input--incrementTotal {
    width: 70px;
    height: 60px;
}    

.header-bottom > .container {

    padding-bottom: 10px;
}

.header-top > .container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-bottom .header-bottom-right {
     padding-top: 0px; 

}

.productView-title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.productView-info-name, .productView-info-value {
    font-size: 14px;
    line-height: 18px;
}

.card-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
