// =============================================================================
// HEADER (CSS)
// -----------------------------------------------------------------------------

header.header {
    background-color: stencilColor('header-backgroundColor');
	font-family:$fontFamily-page;
	font-size: $fontSize-page;
	ul{
		margin:0;
		list-style:none;
		li{
			list-style:none;
			display:inline-block;
			vertical-align:top;
			@media(max-width:991px){
				&.top-cart,
				&.checkout-link{
					padding-top:7px;
				}
			}
			&#accountDropdown{
				position:relative;
				a{
					.fa{
						margin-left: 10px;
						font-size: 10px;
						font-weight: 400;
						line-height: 8px;
						margin-right: 0;
					}
				}
			}
			.dropdown-menu{
				text-align:left;
				right:0;
				left:auto!important;
				width:250px;
				padding:5px 0;
				li{
					display:block;
					margin:0; 
					padding:3px 15px;
					a{
						color: stencilColor('color-textBase');
						padding:3px 0;
						font-weight:400;
						font-size:12px;
						&:hover{
							color: stencilColor('color-textLink--hover');
						}
					}
				}
			}
		}
	}
	.navUser{
		& > ul{
			& > li{
				& > a{
					position:relative;
					&:after{
						content:"";
						position:absolute;
						bottom:-3px;
						left:0;
						right:0;
						height:1px;
						display:block;
						background:transparent;
					}
					&:hover{
						&:after{
							background:stencilColor('header-top-textColor');
						}
					}
				}
			}
		}
	}
}

.header-top {
    padding:9px 40px 7px;
    font-size: stencilNumber("header-top-font-size");
    text-transform: capitalize;
	background:stencilColor('header-top-backgroundColor');
	color:stencilColor('header-top-textColor');
	font-weight:400;
	.col-right{
		text-align:right;
		@media(max-width:1199px){
			width:100%;
			text-align:center;
			padding:0;
		}
	}
	.col-left{
		p{
			padding:3px 0;
			margin:0;
			font-weight:700;
			font-size: stencilNumber("header-top-font-size");
			line-height: 1.55;
			a{
				color:stencilColor('header-top-textColor');
			}
			span{
				color:stencilColor('header-top-textColor');
				font-weight:400;
				border-bottom:1px solid stencilColor('header-top-textColor');
				margin-left:5px;
			}
		}
		@media(max-width:1199px){
			display:none;
		}
		@media(max-width:767px){
			display:block;
			p{
				padding:6px 0 9px;
				span{
					@media(max-width:600px){
						display:none;
					}
				}
			}
		}
	}
	ul{
		font-size: stencilNumber("header-top-font-size");
		text-transform: capitalize;
		color:stencilColor('header-top-textColor');
		font-weight:500;
		font-family:$fontFamily-page;
	}
	ul li{
		line-height: 1.25;
		padding: 5px 0;
		margin:0 0 0 20px;
		font-size: stencilNumber("header-top-font-size");
		position:relative;
		color:stencilColor('header-top-textColor');
		@media(max-width: 767px){
			margin-right:0;
			padding-right:0;
		}
		a{
			color:stencilColor('header-top-textColor');
			.fa{
				margin-right:7px;
				vertical-align:1px;
			}
		}
		&.login-register{
			.logged-in > strong{
				width: 50px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				height: 16px;
				vertical-align: -5px;
				margin-right:5px;
			}
		}
		&#accountDropdown{
			.fa{
				margin-left: 8px;
				font-size: 10px;
				font-weight: 400;
				line-height: 8px;
				margin-right: 0;
			}
			.dropdown-menu{
				right:0!important;
				left:auto!important;
			}
		}
		.dropdown-menu{
			min-width:200px;
			color:stencilColor('color-textBase');
			margin-top:12px;
			padding:0;
			border-radius:4px;
			-moz-border-radius:4px;
			border:1px solid stencilColor('color-border-page');
			li{
				display:block;
				margin:0;
				color:stencilColor('color-textBase');
				text-align:left;
				padding:10px;
				border-bottom:1px solid stencilColor('color-border-page');
				&:last-child{
					border:none;
				}
				a{
					color:stencilColor('color-textBase');
					font-size: fontSize("base");
					font-family: $fontFamily-sans;
					font-weight:400;
				}
			}
		}
	}
    & #currency-converter {
		label{
			display:none;
		}
        & > a {
			color:stencilColor('header-top-textColor');
            & img {
                vertical-align: -1px;
                margin-right: 5px;
				@media(max-width:767px){
					display:none;
				}
            }
            & .fa {
                margin-left: 10px;
				font-size: 10px;
				font-weight: 400;
				line-height: 8px;
				margin-right:0;
            }
        }
        & > ul {
            padding-top: 6px;
            padding-bottom: 6px;
            right:0;
            min-width: 160px;
            top: auto;
            margin-top: 12px;
			position:absolute;
			left:auto!important;
            & > li {
                padding: 0;
				display:block;
				margin:0;
                & > a {
                    padding: 5px 15px;
					border:none!important;
					color:#000;
                    &:hover {
                        color: stencilColor('color-other-textLink--hover');
                    }
                    & img {
                        vertical-align: -1px;
                        margin-right: 5px;
                    }
                }
				&:after{
					display:none;
				}
            }
            & > li + li {
                border-top: 1px solid #f3f3f3;
            }
        }
    }
	@media(max-width:1299px){
		padding-left:15px;
		padding-right:15px;
	}
}
.header-bottom {
    padding: 12px 40px;
	background: stencilColor('header-backgroundColor');
	width:100%;
	float:left;
	color:stencilColor('storeName-color');
	font-size:14px;
	@media(max-width:1299px){
		padding-left:15px;
		padding-right:15px;
	}
	.header-first{
		width:auto;
		float:left;
		max-width:200px;
	}
	ul{
		font-size: 14px;
		text-transform: capitalize;
		color:stencilColor('storeName-color');
		font-weight:500;
		font-family:$fontFamily-page;
		li{
			display:inline-block;
			margin:0 0 0 20px;
			&:first-child{
				margin-left:0;
			}
			& > a{
				color:stencilColor('storeName-color');
				svg{
					width:16px;
					height:16px;
					fill:stencilColor('storeName-color');
					margin-right:10px;
					display: inline-block;
					vertical-align: -2px;
				}
			}
			&.sing_up{
				border-left:1px solid rgba(stencilColor('header-top-textColor'), 0.5);
				padding-left:20px;
			}
			&.wishlist-link,
			&.my-account{
				.fa{
					font-size:18px;
					margin-right:10px;
				}
			}
		}
	}
	.right-header-bottom{
		float:right;
		margin-top:10px;
		li > a{
			font-weight:700;
			& > span{		
				position:relative;
				&:after{
					content:"";
					position:absolute;
					bottom:-3px;
					left:0;
					right:0;
					height:1px;
					display:block;
					background:transparent;
				}
			}
			&:hover{
				& > span{
					&:after{
						background:stencilColor('header-top-textColor');
					}
				}
			}
		}
	}
	@media(max-width:1900px){
		.header-panel{
			.header-first{
				width:200px;
			}
			.right-header-bottom{
				width:300px;
				margin:8px 0 0;
			}
			& > .container{
				width:calc(100% - 500px);
				float:left;
				padding:0 20px;
			}
			.navPages-container{
				width:205px;
			}
			#quickSearch{
				width:calc(100% - 205px);				
			}
		}
	}
	@media(max-width:1199px){
		.header-panel{	
			.header-first{
				width:250px;
				max-width: 250px;
			}
			& > .container {
				width:calc(100% - 550px);	
			}		
			#quickSearch{
				width:calc(100% - 50px);				
			}
		}
	}
	@media(max-width:991px){
		.header-panel{
			.header-first{
				width:250px;
				max-width:250px;
				#st-trigger-effects{
					text-align:left;
				}
			}
			.right-header-bottom{
				width:50px;
				margin:3px 0 0;
				& > li{
					display:none;
					&.top-cart{
						display:block;
					}
				}
			}
			& > .container{
				width:calc(100% - 300px);
			}
			#quickSearch{
				width:100%;
			}
		}
	}
	@media(max-width:767px){
		padding:20px;
		.header-panel{
			& > .container{
				width:100%;
				clear:both;
				padding:0;
			}
			.header-first{
				width:80%;
				max-width:100%;
				#st-trigger-effects{
					float:left;
					text-align:left;
					margin-right:15px;
					width:auto;
					padding-top:3px;
					a{
						display:inline-block;
					}
				}
				.header-logo{
					a img{
						max-width:160px;
					}
				}
			}
			.right-header-bottom{
				width:20%;
				margin-top:2px;
				.top-cart{
					padding-top:6px;
				}
			}
			#quickSearch{
				width:100%;
				padding-top:20px;
			}
		}
	}
}
h1.header-logo {
    margin:0;
	line-height:1.05;
}
.header-panel .wishlist-link .icon svg {
    fill: stencilColor('wishlist-icon-color');
}
.sticky_logo {
    display: none;
}

#storeCredit-dropdown {
    left: 50% !important;
    top: auto !important;
    padding: 15px 20px;
    min-width: 300px;
    text-align: left;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 10px;
    color: #000;
    @media (max-width: 991px) {
        position: static;
        min-width: auto;
        transform: none !important;
        padding: 0 10px;
        border-bottom: 1px solid #e5e5e5;
        & .alert {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 991px) {
    .header-panel > .col-md-8 {
        min-height: 45px;
        & p.own-text {
            margin: 0;
            padding: 12px 0;
        }
    }
    .header-panel > .col-md-4 {
        padding-left: 0;
        padding-right: 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        border: 1px solid #ebebeb;
        border-width: 1px 0;

        & .header-logo {
            height: 62px;
            text-align: center;
            display: table;
            & a {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                & img {
                    max-height: 40px;
                }
            }
        }
        & #mobile-cart {
            width: 62px;
            height: 62px;
            text-align: center;
            & a {
                height: 100%;
                 display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
                border-left: 1px solid #ebebeb;
                & i.icon-cart {
                    margin-right: 0;
                }
                & .countPill {
                    line-height: 23px;
                    display: inline-block;
                    min-width: 23px;
                    padding: 0 5px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #ffe8e8;
                    color: black;
                    position: absolute;
                    top: 8px;
                    right: 8px;
                }

            }
        }
    }
}
@media(max-width:767px){
	.header-top {
		text-align:center;
		.navUser{
			& > ul > li{
				width:25%;
				float:left;
				text-align:center;
				padding:12px 10px 10px;
				margin:0;
				border-right:1px solid #8200ff;
				height:42px;
				&:last-child{
					border:none;
				}
				a{
					opacity:1;
					filter:alpha(opacity=100);
						border:none;
					&:hover{
						border:none;
					}
					.icon-cart{
						&:before{
							font-size:20px;
						}
					}
				}
				&#trigger-mobile{
					padding-top:10px;
				}
				&#mobileAccountSidebar{
					& > a{
						.fa{
							font-size:18px;
							margin-right:0;
						}
						span{
							display:none;
						}
					}
				}
			}
		}
		#st-trigger-effects{
			width:100%;
			padding:0;
		}
	}
}

#top-bar-promotion {
    background: stencilColor('top_bar_promotion_background');
    position: relative;
    padding: 8px 80px 0;
	text-align:center;
	position:relative;
	& a.close {
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 40px;
		margin:0;
		& svg {
			width: 20px;
			height: 20px;
			fill: #fff;
		}
	}
	@media(max-width:767px){
		display:none;
	}
}

.customer-login {
    & #dropdown-login {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        width: 285px;
        left:-25px;
        background: #fff;
        z-index: 10;
        border-radius: 3px;
        overflow: hidden;
        padding: 0 20px 25px;
        box-shadow: 0 2px 5px rgba(0,0,0,.15);
           -moz-transition: all 0.1s ease 0s;
           -webkit-transition: all 0.1s ease 0s;
           transition: all 0.1s ease 0s;
           text-align: left;
        & h3 {
            font-size: 16px;
            font-family: stencilFontFamily('headings-font'), Arial, Helvetica, sans-serif;
            font-weight: 700;
            margin: 0 -20px 20px;
            background: #f6f7f9;
            padding: 10px 20px;
            min-height: 42px;
        }
        & .form-field {
            margin-bottom: 15px;
        }
        & .form-inlineMessage {
            line-height: 20px;
            margin-bottom: 5px;
        }
        & .form-actions {
            margin-top: 10px;
            & .btn {
                width: 100%;
            }
        }
        & .separated-form {
            & a.forgot-password {
                margin: 17px 0 19px;
                line-height: 18px;
                display: inline-block;
                font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: $anchor-font-color;
                &:hover {
                    color: $anchor-font-color-hover;
                }
            }
            & a.btn {
                width: 100%;
            }
            & > span {
                position: relative;
                display: block;
                text-align: center;
                font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif;
                font-size: 11px;
                color: #323232;
                font-weight: 700;
                margin-bottom: 15px;
            }
            & > span::before {
                border-top: 1px solid #e0e0e0;
                width: 43%;
                position: absolute;
                top: 50%;
                display: block;
                content: '';
            }
            & > span::after {
                border-top: 1px solid #e0e0e0;
                width: 43%;
                position: absolute;
                top: 50%;
                display: block;
                content: '';
                right: 0;
            }
        }
    }
    &.is-open {
        & #dropdown-login {
            opacity: 1;
            visibility: visible;
        }
    }
}
