// =============================================================================
// ADDRESS BOX (CSS)
// =============================================================================

// Address layout
// -----------------------------------------------------------------------------
//
// 1. Using display: inline-block; to vertically align blocks.
//    Font-size gets redefined under the .address block.
//
// -----------------------------------------------------------------------------

.addressList {
    font-size: 0; // 1
    list-style: none;
	margin:0 -10px;
	li.address{
		padding:0 10px;
	}
}

.address {
    display: inline-block;
    padding: 0 spacing("half");
    vertical-align: top;
    width: 100%;
	margin-bottom:15px;
    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }
    @include breakpoint("large") {
        width: grid-calc(4, $total-columns);
    }
}


// Address
// -----------------------------------------------------------------------------
//
// 1. Redefine the font-size as we're removing white-space on the parent by
//    reducing the size to 0.
// 2. Adding a min-height to improve the consistency of the address blocks.
// 3. On larger screens we position: absolute; the .form-actions so they're
//    consistently in line. We need to adjust padding to accommodate this.
//
// -----------------------------------------------------------------------------

.panel--address {
    font-size: fontSize("base"); // 1
    position: relative;
    .panel-body {
        min-height: remCalc(250px); // 2
		padding:15px;
		background:#f6f7f8;
		border-radius:4px;
		-moz-border-radius:4px;
		h5{
			font-weight:700;
			font-size:14px;
		}
    }

    .form-actions {
        text-align: left;
		padding-top:20px!important;

        // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            margin-bottom: spacing("half");

            + .button {
                margin-left: 0;
                margin-top: 0;

                @include breakpoint("small") {
                    margin-left: spacing("quarter");
                }
            }
        }
		.btn{
			height:auto!important;
		}
    }
}

.address-title {
    margin: 0 0 spacing("half");
    text-transform: none;
}

.address-details {
    list-style: none;
    margin: 0 0 spacing("half");
}

.address-details--postal {
    font-size: fontSize("base");
}

.address-label,
.address-description {
    display: inline-block;
    font-size: fontSize("base");
    margin: 0;
}

.address-label {
    color: stencilColor("color-textSecondary");
    font-weight: fontWeight("normal");
}

.panel--newAddress {
    display: block;
    text-align: center;
    text-decoration: none;
    &:hover {

        // scss-lint:disable SelectorDepth, NestingDepth
        .address-title {
            color: stencilColor("color-textLink--hover");
        }
        // scss-lint:enable SelectorDepth, NestingDepth
    }

    .panel-body {
        background-color: transparent;
        border: container("border");
        display: block;
    }

    .address-title {
        margin-bottom: 0;
        transition: all 0.15s ease;
    }
}

.address-addNew {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.address-symbol {
    font-size: fontSize("hero");
    line-height: 1;
}
