// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
// between it and the header on all situations
//
// =============================================================================

/*Off-canvas Navigation*/
#st-trigger-effects {
    height: auto;
    text-align: center;
	float:left;
	padding-top:6px;
	display:none;
	width:50px;
    & a {
        height: 22px;
        font-size: 22px;
		display:block;
        & svg {
            width: 21px;
            height: 22px;
			fill:stencilColor('header-top-textColor');
            &:last-child {
                display: none;
            }
        }
		&:hover{
			svg{
				fill:#ccc;
			}
		}
    }
	@media(max-width:1199px){
		display:block;
	}
}

body.st-off-canvas {
    overflow: hidden;

    & #st-trigger-effects {
        & svg {
            width: 25px;
            height: 25px;
        }
        & svg:first-child {
            display: none;
        }
        & svg:last-child {
            display: inline-block;
        }
    }
}

a {
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    height: 100%;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -ms-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.st-pusher::after {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -moz-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -ms-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -o-transition: opacity .3s, width .1s .3s, height .1s .3s;
    transition: opacity .3s, width .1s .3s, height .1s .3s;
    opacity: 0;
    background: rgba(45, 45, 45, 0.8);
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=0);
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=100);
}

.st-menu {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 350px;
    height: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
	background: #fff;
	box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -webkit-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -moz-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -o-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    border-right: 1px solid #e5e5e5;
	@media(max-width:420px){
		width:300px;
	}
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;
    background: rgba(0, 0, 0, .2);
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=100);
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s, width .1s .3s, height .1s .3s;
    transition: opacity .3s, width .1s .3s, height .1s .3s;
    opacity: 0;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=0);
}


/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu > ul {
    overflow-y: scroll;
    height: 100%;
    min-height: 480px;
}

.st-menu h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, .4);
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
}
nav#mobile-customer ul li {
    position: relative;
    & > span.toggle-expand ~ div {
        display: none;
    }
    & > span.toggle-close ~ div {
        display: block;
    }
    &#currency-converter.expanded > a {
        border-bottom: 1px solid #e5e5e5;
    }
    &#currency-converter > a > img {
        display: inline-block;
        vertical-align: -1px;
        margin-left: 8px;
        margin-right: 3px;
    }
    &#currency-converter ul li a strong {
        color: #e06868;
    }
    &#currency-converter ul li a img {
        display: inline-block;
        vertical-align: -1px;
        margin-right: 3px;
    }
    &#side-account-menu ul {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
    }
    &.mobile-call-us {
        font-weight: 700;
        text-transform: uppercase;
        padding: 13px 20px 12px;
        & a {
            display: inline;
            padding: 0;
            &:hover {
                background: transparent;
                color: #000;
                border-bottom: 1px solid #000;
            }
        }
    }
}

nav#mobile-customer ul li .not-logged {
    font-size: 0;
    line-height: normal !important;
    color: #969696;
}

nav#mobile-customer ul li .not-logged a {
    display: block;
	& + a{
		border-top:1px solid stencilColor('color-border-page') + #131313;
	}
}

nav#mobile-customer ul li .not-logged a:hover {
    color: stencilColor('color-textLink--hover');
}
.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu > ul > li.hasSub > ul {
    display: none;
	li{
		border:none;
	}
    & > li > a {
        text-transform: none;
        font-weight: normal;
        margin-left: 15px;
		padding-top:7px;
		padding-bottom:6px;
		color:stencilColor('color-textBase');
		&:hover{
			color: stencilColor('color-textLink--hover');
		}
    }
}
.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu > ul > li.hasSub.expanded > ul {
    display: block;
	padding-bottom:10px;
}
.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu ul > li.hasSub > span.toggle-expand::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f067';
    border: none;
	font-size:11px;
	font-weight:400;
}
.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu ul > li.hasSub > span.toggle-close::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f068';
    border: none;
}

.st-menu {
	ul {
		li {
			border-bottom:1px solid stencilColor('color-border-page') + #131313;
			a {
				font-family: $fontFamily-headings;
				font-size: 14px;
				font-weight: 700;
				display: block;
				padding: 13px 20px 12px;
				letter-spacing: 0;
				text-transform: capitalize;				
				color:stencilColor('color-textBase') - #323232;
				outline: none;
				&:hover{
					color: stencilColor('color-textLink--hover');
				}
			}
			.logged-in{
				color: stencilColor('color-textLink--hover');
				padding: 13px 20px 0;
				display:block;
				font-size:14px;
			}
			&:hover{
				& > a,
				& > span.toggle-expand{
					color: stencilColor('color-textLink--hover');
				}
			}
			&.expanded{
				& > a.has-subMenu{
					color:stencilColor('color-textLink--hover');
				}
				& > span.toggle-expand,
				& > span.toggle-close{
					color:stencilColor('color-textLink--hover');
				}
			}
			&:last-child{
				border:none;
			}
			&.no-line{
				border-bottom:none;
				margin:0;
				a{
					padding-bottom:0;
					font-weight:400;
					.fa{
						display:none;
					}
				}
			}
			&.my-account{
				a{
					font-weight:700;
				}
			}
			&#currency-converter{
				border-top:1px solid stencilColor('color-border-page') + #131313;
				margin-top:15px;
				position:relative;
				& > label{
					display:none;
				}
				a{
					img{
						display:inline-block;
						margin-right:5px;
						vertical-align:0;
					}
					.fa{
						position: absolute;
						top: 3px;
						right: 0;
						width: 40px;
						height: 40px;
						cursor: pointer;
						text-align: center;
						line-height: 40px;
						font-size:12px;
					}
					&.is-open{
						background:stencilColor('color-textLink--hover');
						color:#fff;
					}
				}
				.dropdown-menu{
					position:relative!important;
					top:auto!important;
					max-width:100%;
					background:none;
					border:none;
					box-shadow:none;
					li{
						padding:0;
						a{
							padding:13px 20px 12px;
						}
					}
				}
			}
		}
		& > .navPages-item{
			.navPage-subMenu-list{
				& > li{
					& > a{
						font-family: $fontFamily-headings;
						font-weight:700;
						text-transform:uppercase;
					}
					&.hasSub{
						& > a + a{
							display:none;
						}
						&.expanded{
							& > a + a{
								display:block;
							}
						}
					}
				}
			}
		}
	}
}
.st-menu ul li ul li a {
    font-family: $fontFamily-sans;
    font-size: 12px;
	margin:0;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: none;
}

.st-menu ul li.hasSub {
    position: relative;
}

.st-menu ul li span.toggle-expand,
.st-menu ul li span.toggle-close {
    position: absolute;
    top: 3px;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
	text-align:center;
	line-height:40px;
	&:before{
		font-family:"FontAwesome";
	}
}

.st-menu ul li span.toggle-expand::before {
	content: "\f078";
}

.st-menu ul li span.toggle-close::before {
    content: "\f077";
}

.st-menu ul li .navPage-subMenu,
.st-menu ul li .subMegaMenu {
    display: none;
	border-top:1px solid stencilColor('color-border-page') + #131313;
    & .container {
        width: 100%;
    }
}

.st-menu ul li.hasSub.expanded .navPage-subMenu,
.st-menu ul li .subMegaMenu.sub-expand {
    display: block;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul li.hasSub > ul {
    display: none;
	li{
		border:none;
		a{
			padding-top:7px;
			padding-bottom:6px;
		}
	}
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul li.hasSub.expanded > ul {
    display: block;
	padding:0 0 10px;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > ul > li > a {
    font-weight: 400;
    margin-left: 15px;
    text-transform: none;
	color:stencilColor('color-textBase');
	&:hover{
		color: stencilColor('color-textLink--hover');
	}
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > span.toggle-expand::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f067';
    border: none;
	font-size:10px;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > span.toggle-close::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f068';
    border: none;
}

.st-menu > ul > li:last-child {
    margin-bottom: 100px;
}

#mobile-categories .cateArea {
    width: 100% !important;
	max-width:100%!important;
    height: auto !important;
	padding-bottom:0
}

#mobile-categories .cateArea > ul {
    max-height: 100% !important;
}

#mobile-categories .imageArea {
    width: 100% !important;
	max-width:100%!important;
    & .col-left {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
    }
    & .col-right {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
    }
}
#mobile-categories .imageArea  .right_img a{
	padding:0;
}
#mobile-categories .imageArea  .right_img  > p{
	padding:12px 20px;
}

#mobile-categories .container {
    min-width: auto;
    padding: 0;
}

#mobile-categories .container .row {
    margin: 0;
}

#mobile-categories .subMegaMenu {
    width: 100% !important;
    overflow: hidden;
	border:none;
	border-top:1px solid stencilColor('color-border-page') + #131313;
}

#mobile-categories .subMegaMenu > div,
#mobile-categories .subMegaMenu .container > div {
    max-width: 350px !important;
	@media(max-width:420px){
		max-width:300px;
	}
}

#mobile-categories .bottomCate {
    display: block;
	padding:0;
	.bottom-images{
		a{
			width:100%;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	.image_brand{
		.title{
			& > label{
				font-family: $fontFamily-headings;
				font-size: 14px;
				font-weight: 600;
				display: block;
				padding: 13px 20px 5px;
				letter-spacing: 0;
				text-transform: capitalize;
				color:stencilColor('color-textBase') - #323232;
			}
			& > a{
				font-weight:400;
				font-size: fontSize("base");
				color:stencilColor('color-textBase');
				padding-top:0;
				font-family: $fontFamily-sans;
				display:none;
			}
		}
	}
	.Brand-Image{
		ul{
			padding-bottom:5px;
			overflow:hidden;
		}
		li{
			border:none;
			width:50%;
			float:left;
			a{
				padding-top:7px;
				padding-bottom:6px;
			}
		}
	}
}


/* Individual effects */


/* Effect: Push*/

.st-effect-1.st-menu-open .st-pusher,
.st-effect-2.st-menu-open .st-pusher,
.st-effect-3.st-menu-open .st-pusher {
    -webkit-transform: translate3d(350px, 0, 0);
    -moz-transform: translate3d(350px, 0, 0);
    -ms-transform: translate3d(350px, 0, 0);
    -o-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
	@media(max-width:420px){
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(300px, 0, 0);
		-ms-transform: translate3d(300px, 0, 0);
		-o-transform: translate3d(300px, 0, 0);
		transform: translate3d(300px, 0, 0);
	}
}

.st-effect-1.st-menu,
.st-effect-2.st-menu,
.st-effect-3.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu,
.st-effect-2.st-menu-open .st-effect-2.st-menu,
.st-effect-3.st-menu-open .st-effect-3.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -ms-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.st-effect-1.st-menu::after,
.st-effect-2.st-menu::after,
.st-effect-3.st-menu::after {
    display: none;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
