// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");
    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }
    + .blog {
        border-top: 1px solid stencilColor('color-border-page') + #131313;
        margin-top: 35px;
        padding-top: 25px;
    }

    .tags {
        margin-top: spacing("double");
        text-align: left;
    }

    .socialLinks {
        text-align: left;
    }

    // scss-lint:disable SelectorFormat
	.addthis_toolbox {
        margin-top: spacing("double");
    }
	&:first-child{
		padding-top:6px;
	}
}

.blog-title {
    font-size: 24px;
    margin: 0 0 15px;
    letter-spacing: 0;
    font-weight: 700;
    a {
        text-decoration: none;
		color:stencilColor('color-textBase') - #505050;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: left;
}
.blog-date {
    margin-bottom: 25px;
}
.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("base");
    text-align: left;
    margin-bottom: 20px;
	h5{
		text-transform: capitalize;
		font-size: 14px;
		margin: 25px 0 20px;
		font-family: "Muli", Arial, Helvetica, sans-serif;
	}
	ul,ol{
		padding-left:15px;
	}
}

.blog-thumbnail {
    margin: 0 0 (spacing("base") * 2);
	text-align:center;
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: left;

}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;

}
.btn.blog-readmore {
    margin-bottom: 20px;
	padding:0;
	min-width:50px;
	text-align:left;
	border:none!important;
	background:none!important;
	color: stencilColor('color-textLink--hover');
	text-transform:capitalize;
	&:hover{
		color:stencilColor('color-textBase');
	}
}
.page-blog .compare-link{
	display:none;
}
