// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================
// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------
.productGrid {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
    margin-bottom: spacing("single");
    .product {
        @include grid-column(6, $float: none);
        display: inline-block;
        font-size: fontSize("base"); // 1
        vertical-align: top;
        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }
        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
    }
}

// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
    .productGrid {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            // 1
            @include breakpoint("small") {
                width: grid-calc(4, $total-columns);
            }
        }
    }
}

//
// Product Grid with masonry layout
//
// Purpose: Display products in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// 1. Some older browser support. This class comes from Modernizr
// -----------------------------------------------------------------------------
.productMasonry {
    column-count: 2;
    column-fill: auto;
    column-gap: remCalc(20px);
    margin: 0 0 spacing("single");
    overflow: hidden;
    @include breakpoint("small") {
        column-count: 3;
    }
    @include breakpoint("medium") {
        column-count: 4;
    }
    .product {
        break-inside: avoid;
        display: block;
        margin-bottom: spacing("double");
        padding: 0;
        width: 100%;
    }
    .card {
        margin: 0;
    }
    .no-csscolumns & {
        // 1
        @include u-listBullets("none");
        @include grid-row($behavior: "nest");
        font-size: 0;
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include grid-column(3, $float: none);
            display: inline-block;
            font-size: fontSize("base"); // 1
            vertical-align: top;
        }
        .card {
            margin: 0;
        }
    }
}

// Product grid view variation
// -----------------------------------------------------------------------------
.productGrid--maxCol6 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(2, $total-columns);
            }
        }
    }
    .csscolumns & {
        @include breakpoint("medium") {
            column-count: 6;
        }
    }
}

.productGrid--maxCol3 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(4, $total-columns);
            }
        }
    }
    .csscolumns & {
        @include breakpoint("medium") {
            @include grid-column(12);
            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                @include grid-column(4);
            }
        }
    }
}

.module-heading {
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
	color:stencilColor('color-textHeading');
}

.module-wrapper {
    & .productBlockContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
		margin-right:-2px;
        & .prod-item {
            padding:30px 20px;
            @media (max-width: 480px) {
                padding:15px;
            }
        }
        &.columns-5 .prod-item {
            width: 20%;
        }
        &.columns-4 .prod-item {
            width: 25%;
        }
        &.columns-3 .prod-item {
            width: 33.33%;
        }
        &.columns-2 .prod-item {
            width: 50%;
        }
        &.columns-1 .prod-item {
            width: 100%;
        }
        @media (max-width: 1199px) {
            &.columns-5 .prod-item {
                width: 25%;
            }
        }
        @media (max-width: 767px) {
            &.columns-5 .prod-item {
                width: 33.33%;
            }
            &.columns-4 .prod-item {
                width: 33.33%;
            }
        }
        @media (max-width: 640px) {
            &.columns-5 .prod-item {
                width: 50%;
            }
            &.columns-4 .prod-item {
                width: 50%;
            }
            &.columns-3 .prod-item {
                width: 50%;
            }
			a.btnATC{
				padding-left:10px;
				padding-right:10px;
			}
        }
    }
}

/*#product-listing-container {
    margin-bottom: 90px;
}*/

#product-listing-container .module-wrapper {
    @media (min-width: 992px) and (max-width: 1199px) {
        & .productBlockContainer.columns-4 .prod-item {
            width: 33.33%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        & .productBlockContainer.columns-4 .prod-item {
            width: 33.33%;
        }
    }
}

.prod-item,
.productGrid .product {
	border-right:1px solid stencilColor('color-border-page') + #131313;
	border-bottom:1px solid stencilColor('color-border-page') + #131313;
    & article.card {
        margin: 0 0 20px;
        padding: 0;
        height: 100%;
		.card-figure{
			@media (max-width: 480px) {
				text-align:center;
			}
		}
    }
    .btn-compare {
        cursor: pointer;
		margin:0 0 15px;
		min-height:20px;
		label{
			color: ( stencilColor('color-textBase') + #494949 );
			&:before{
				width:16px;
				height:16px;
			}
		}
        & input {
            display: none;
        }
    }
    & .prod-image {
        position: relative;
        margin-bottom: 20px;
        /*display: flex;
        flex-wrap: wrap;
        justify-content: center;*/
        @media (max-width: 480px) {
            min-height: auto;
			display:inline-block;
        }
        & > a {
            /*display: flex;*/
            align-content: center;
        }
		a.btnWL {
			position:absolute;
			top:0;
			left:1px;
			font-size:0;
			display:none;
			color:#838383;
			&:before{
				font-family:"FontAwesome";
				content: "\f08a";
				font-size:16px;
				display:block;
				line-height:16px;
			}
		}
		.actions{
			position:absolute;
			top:45%;
			left:0;
			right:0;
			text-align:center;
			z-index:10;			
            opacity: 0;
            filter: alpha(opacity=0);
            visibility: hidden;
            -webkit-transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -ms-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
		}
		& .actions > .btnQV{
			display:inline-block;
			background: #000;
			color:#fff;
			text-transform:uppercase;
			font-size:11px;
			font-weight:700;
			padding:4px 15px;
			border-radius:3px;
			-moz-border-radius:3px;
		}
        & .actions > a.btnATC {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        & .actions > .star-rating {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            margin-top: 45px;
        }
        & .actions > .btn-compare {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 80px;
        }
        & .actions > a.btnATC,
        & .actions > .star-rating,
        & .actions > .btn-compare,
        & .actions > .btnQV {
			display:inline-block;
			vertical-align:top;
        }
        &.has-img-swap .card-image.img-swap {
             display: none;
        }
        &.has-img-swap:hover .card-image:not(.img-swap) {
            display: none;
        }
        &.has-img-swap:hover .card-image.img-swap {
            display: block;
        }
    }
    &:hover .prod-image a img {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    &:hover {
		.actions{
			opacity: 1;
			filter: alpha(opacity=100);
			visibility: visible;
			-webkit-transition: all .3s ease 0s;
			-moz-transition: all .3s ease 0s;
			-ms-transition: all .3s ease 0s;
			-o-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
		}
		a.btnWL {
			display:block;
		}
    }
    & .prod-desc {
        margin: 0;
        & .prod-brand {
            margin-bottom: 10px;
			overflow:hidden;
			min-height:18px;
			color:stencilColor('color-textBase') + #494949;
        }
		@media (max-width: 480px) {
			text-align:left;
		}
        & h4.prod-name {
            margin-top: 0px;
            margin-bottom: 13px;
            font-size: 12px;
            font-weight: 400;
            color: stencilColor('card-title-color');
            letter-spacing: 0;
			line-height:20px;
			a{
				color: stencilColor('card-title-color');
				&:hover{
					color: stencilColor('card-title-color-hover');
					text-decoration: none;
				}
			}
            &:hover a {
                color: stencilColor('card-title-color-hover');
                text-decoration: none;
            }
        }
        & .prod-summary {
            display: none;
        }
        & .prod-price {
            color: stencilColor('basic-price-color');
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 10px;
			font-family:$fontFamily-page;
            & .price--rrp {
                color: stencilColor('retail-price-color');
                margin-right: 5px;
				font-weight:600;
				& + span{
					color: stencilColor('sale-price-color');
				}
            }
        }
        & .star-rating {
            margin-bottom: 15px;
        }
		a.btn{
			display:block;
			clear:both;
		}
		.btnWL{
			display:none!important;
		}
    }
	@media(min-width:1024px){
		.star-rating{
			float:left;
		}
		.btn-compare{
			float:right;
		}
	}
}

.new-badge,
.sale-badge,
.of_stock_label{
	border-radius:3px;
	-moz-border-radius:3px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
	padding:1px 7px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.new-badge {
    color: stencilColor('new-badge-color');
    border: 1px solid stencilColor('new-badge-border-color');
    background: stencilColor('new-badge-bgColor');
}
.sale-badge {
    color: stencilColor('sale-badge-color');
    border: 1px solid stencilColor('sale-badge-border-color');
    background: stencilColor('sale-badge-bgColor');
}
.of_stock_label{
	color: stencilColor('button--disabled-color');
	background:stencilColor('button--disabled-backgroundColor');
	border:1px solid stencilColor('button--disabled-borderColor');
}
.new-badge ~ .sale-badge,
.sale-badge  ~ .of_stock_label,
.new-badge ~ .of_stock_label{
	right:45px;
	z-index:1px;
}
.new-badge ~ .sale-badge  ~ .of_stock_label{
    right: 0;
	z-index:0;
	top:26px;
}
