// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}
