// =============================================================================
// PRODUCT LIST (CSS)
// =============================================================================
// Product list
// -----------------------------------------------------------------------------
.productList {
    @include u-listBullets("none");
    .product {
        // scss-lint:disable NestingDepth
        + .product {
            margin-top: spacing("base") * 4;
        }
    }
	.prod-brand{
		display:none;
		&.have-brand{
			display:block;
		}
	}
}

// Product list item
// -----------------------------------------------------------------------------
.listItem {
    @include breakpoint("small") {
        @include grid-row($behavior: "nest");
        display: table;
    }
}

.listItem-figure,
.listItem-body {
    @include breakpoint("small") {
        display: table-cell;
        vertical-align: top;
    }
    @include breakpoint("large") {
        vertical-align: middle;
    }
}

// List figure
// -----------------------------------------------------------------------------
.listItem-figure {
    margin: 0 0 spacing("single");
    @include breakpoint("small") {
        margin-bottom: 0;
        @include breakpoint("small") {
            padding-left: spacing("half");
            padding-right: spacing("half");
            width: grid-calc(3, $total-columns);
        }
    }
}

.listItem-image {
    width: 100%;
}

.listItem-body {
    @include breakpoint("small") {
        padding-left: spacing("base") + spacing("sixth");
        padding-right: spacing("half");
        width: grid-calc(9, $total-columns);
    }
}

// List content
// -----------------------------------------------------------------------------
.listItem-content {
    @include breakpoint("large") {
        display: table;
    }
}

.listItem-details,
.listItem-actions {
    @include breakpoint("large") {
        display: table-cell;
        vertical-align: top;
    }
}

// List details
// -----------------------------------------------------------------------------
.listItem-details {
    @include breakpoint("large") {
        padding-right: spacing("double") * 2;
        >:last-child {
            margin-bottom: 0;
        }
    }
}

.listItem-rating {
    margin-bottom: spacing("quarter");
}

.listItem-brand {
    color: color("greys", "light");
    font-size: fontSize("base");
    margin: 0 0 spacing("eighth");
    @include breakpoint("medium") {
        font-size: fontSize("smaller");
        margin-bottom: 0;
    }
}

.listItem-title {
    font-size: fontSize("smaller");
    margin: 0 0 spacing("eighth");
    @include breakpoint("medium") {
        font-size: fontSize("small");
    }
    > a {
        text-decoration: none;
    }
}

.listItem-price {
    margin-bottom: spacing("base");
    @include breakpoint("medium") {
        font-size: fontSize("small");
    }
}

// List actions
// -----------------------------------------------------------------------------
//
// 1. Magic number width to align closer to the intended design.
//
// -----------------------------------------------------------------------------
.listItem-actions {
    @include breakpoint("large") {
        vertical-align: middle;
        width: 22%; // 1
        .button--compare {
            @include buttonSize("small");
        }
    }
    .button {
        margin-bottom: 0;
        @include breakpoint("large") {
            width: 100%;
            // scss-lint:disable NestingDepth
            + .button {
                margin: spacing("half") 0 0;
            }
        }
    }
}

// Product list when sidebar is present
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
    .productList {
        // scss-lint:disable SelectorDepth, NestingDepth
        .listItem-details {
            @include breakpoint("large") {
                padding-right: spacing("double");
            }
        }
        .listItem-actions {
            @include breakpoint("large") {
                width: 30%;
            }
        }
    }
}

.module-wrapper.productList .productBlockContainer .prod-item {
    width: 100% !important;
	padding:35px 25px;
    & .card-figure {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
		@media(max-width:480px){
			display:block;
		}
        & .prod-image {
            min-width: 210px;
            width: 20%;
            margin-right: 30px;
            margin-bottom: 0;
			display:block;
            @media (max-width: 480px) {
                width: 100%;
				margin-bottom:15px;
                & .btnQV {
                    position: static;
                    display: block;
                }
            }
			.btnWL{
				display:none!important;
			}
        }
        & .prod-desc {
            //width: 80%;
            text-align: left;
            & h4.prod-name {
                margin-bottom: 10px;
				font-weight:700;
            }
			.prod-price{	
				margin-bottom:15px;
				font-size:16px;
			}
            & .prod-summary {
                display: block;
				margin-bottom:17px;
                & p {
                    margin-bottom: 10px;
					color:stencilColor('color-textBase');
                }
            }
            & .star-rating {
				margin-bottom:20px;
				float:left;
            }
            & .btnATC {
                display: inline-block;
                width: auto;
                min-width: 170px;
				float:left;
				clear:left;
            }
            & a.btnWL {
                display: inline-block!important;
                font-weight: 700;
                text-transform: capitalize;
                color:stencilColor('color-textBase') - #1e1e1e;
                font-size: 12px;
				float:left;
				margin-left:30px;
				margin-top:8px;
				font-family: $fontFamily-page;
				&:before{
					display: inline-block;
					margin-right: 8px;
					content: "\f08a";
					font-family: "FontAwesome";
					color: #838383;
					font-size: 16px;
					font-weight: 400;
					vertical-align: -1px;
				}
				&:hover{
					color: stencilColor('color-textLink--hover');
				}
				@media (max-width:1023px){
					margin-left:0;
					clear:both;
					margin-top:20px;
				}
            }
            & .btn-compare {
                display: inline-block;
                position: static;
                font-style: normal;
				padding-top:2px;
				float:left;
				margin-left:45px;
                margin-bottom: 20px;
                & label {
                    font-weight: 400;
                    color: #999;
                    font-size: 12px;
                    &::before {
                        top: 0;
                    }
                    &::after {
                        top: 1px;
                    }
                    &:hover span {
                        color: #000;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
		.free_shipping{
			text-align:left;
			padding-top:15px;
			@media(min-width:1199px){
				float:right;
				margin-top:8px;
				padding-top:0;
				clear:none;
			}
		}
    }
    & + .prod-item > .card {
		margin:0;
    }
}
