// =============================================================================
// BRAND GRID (CSS)
// =============================================================================


// Brand grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .brandGrid class.
//
// -----------------------------------------------------------------------------
img.brand-logo-heading{
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}
.brandGrid {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
    margin-bottom: spacing("single");

    .brand {
        display: inline-block;
        font-size: fontSize("base"); // 1
        vertical-align: top;
		padding:0 15px 30px;
        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
		@media (max-width:767px){
			width:33%;
		}
		@media (max-width:500px){
			width:50%;
		}
		.card {
			border:1px solid #e2e2e2;
			margin:1px;
			border-radius:3px;
		}
        figure {
			display:table;
			padding:5px 0;
			height:85px;
			width:100%;
			a{
				display:table-cell;
				vertical-align:middle;
			}
        }
		.card-body{
			padding:15px 0;
			background:#f6f6f6;
		}
        // scss-lint:disable SelectorDepth, NestingDepth
		.card-title {
            text-align: center;
            font-size: 11px;
            letter-spacing: 0;
            font-weight: 700;
            font-family: $fontFamily-sans;
			color:#646464;
			text-transform:uppercase;
        }
		&:hover{
			.card {
				border:2px solid #000;
				margin:0;
			}
		}
    }
}

/*---------- Brand List A to Z view --------*/

#haloAZBrandsTable {
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 30px 0;
    overflow-x: auto;
    padding-bottom: 5px;
    li {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #e2e4e8;
        border-left: none;
        a {
            color: stencilColor('color-primary');
            display: block;
            height: 40px;
            font-size: 12px;
            min-width: 40px;
            font-weight: 700;
            line-height: 40px; 
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $fontFamily-headings;
            &.disable {
                color: #B3B3B3;
                pointer-events: none;
            }
        }
        &:first-child {
            min-width: 70px;
            border-left: 1px solid #e2e4e8;
        }
        
        &.is-active {
            color: stencilColor('color-textLink--hover');
            background-color: #f7f7f7;
            a {
                color: inherit;
            }
        }
        &.disable {
            pointer-events: none;
            a {
                color: rgba(stencilColor('color-primary'),0.4);
                pointer-events: none;
            }
        }
    }
    @media (min-width: 1025px) {
        margin: 0 0 40px 0;
        overflow: visible;
        li {
            width: 10%;
        }
    }
}

#haloAZBrandsWrapper{
    &.active-all {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        .azBrands-group {
            -moz-page-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            break-inside: avoid;
            -o-column-break-inside: avoid;
            -ms-column-break-inside: avoid;
            column-break-inside: avoid;
            page-break-inside: avoid;
            display: block;
        }
        @include breakpoint('small') {
            column-count: 3;
            -moz-column-count: 3;
            -webkit-column-count: 3;
        }
        @include breakpoint('medium') {
            column-count: 4;
            -moz-column-count: 4;
            -webkit-column-count: 4;
        }
    }
    &:not(.active-all) {
        .azBrands-group {
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
            @include breakpoint('small') {
                column-count: 3;
                -moz-column-count: 3;
                -webkit-column-count: 3;
            }
            @include breakpoint('medium') {
                column-count: 4;
                -moz-column-count: 4;
                -webkit-column-count: 4;
            }
        }
    }
    .brand-name .title {
        color: #646464;
    }
    + .brandList.hide {
        opacity: 0;
        visibility: hidden;
    }
    .azBrands-group {
        margin-bottom: 30px;
        display: none;
        &.is-active {
            display: block;
        }
    }
    .azBrands-group-list {
        margin: 0;
        list-style: none;
        .brand {
            margin-bottom: 5px;
        }
    }
}

.azBrands-group-title {
    font-size: 20px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-family: $fontFamily-headings;
    color: stencilColor('color-textHeading');
    font-weight: 700;
}

.brand-name {
    .title {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: stencilColor('color-primary');
        font-family: $fontFamily-sans;
        text-transform: capitalize;
        a {
            color: inherit;
        }
    }
}

.azBrands-group {
    margin-bottom: 30px;
    display: none;
    &.is-active {
        display: block;
    }
}
