// =============================================================================
// TABLES (CSS)
// =============================================================================


// Stencil table component additions
// -----------------------------------------------------------------------------

.table {
    margin-top: $table-marginTop;

    td + td {
        border-left: $table-td-borderLeft;
    }

    .table-alignCenter {
        text-align: center;
    }

    .table-alignRight {
        text-align: right;
    }
}

.table-actions {
    margin: spacing("single");
    text-align: center;

    .form {
        margin-bottom: 0;
    }

    .button {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        @include breakpoint("small") {
            display: inline-block;
            margin-bottom: 0;
            width: auto;
        }

        // scss-lint:disable NestingDepth
        + .button {

            @include breakpoint("small") {
                margin-left: spacing("quarter");
            }
        }
        // scss-lint:enable NestingDepth
    }
}


// Stencil table modifiers
// -----------------------------------------------------------------------------

.table--line {
	border:none;
    .table-thead {
		border:none;
		background:none;
        tr {

            th {                
				padding: 15px 20px 14px;
				background-color:#f5f5f5;
				border:none;
				border-bottom: 1px solid #d0d0d0;
				font-family: $fontFamily-headings;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				color: ( stencilColor('color-textBase') + #797979 );
                @include breakpoint("small") {
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
				&:first-child{
					border-radius:3px 0 0 0;
					-moz-border-radius:3px 0 0 0;
				}
				&:last-child{
					border-radius:0 3px 0 0;
					-moz-border-radius:0 3px 0 0;
				}
                + th {
                    padding-left: spacing("single");
                }
            }
        }
    }
    tr {
        border-color: container("border");

        // scss-lint:disable SelectorDepth, NestingDepth
        td {
            display: block;
            padding-left: 0;
            padding-right: 0;

            @include breakpoint("small") {
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }

            + td {
                padding-left: spacing("single");
            }
        }
    }
    td + td {
        border-left: 0;
    }
	.table-tbody {
		tr{
			td{
				padding:20px;
			}
		}
	}
}
