// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    margin-bottom: spacing("single");
    .form-actions .btn-lg {
        min-width: 210px;
    }
	& > h3{
		font-weight:800;
		margin: 25px 0 20px;
	}
	& >  p > strong{
		font-family: $fontFamily-page;
		font-size:14px;
		font-weight:700;
	}
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account-body {
    //@include grid-row($behavior: "nest");
}

.account-content {
   /* @include grid-column(12);*/
}

.account-content--fixed {

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    @include grid-column(12);

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall + & {
            float: right;
        }
    }
}
